input {
    /*   width: 100%; */
  padding: 0px 0px;
  margin: 0px 0;
  box-sizing: none;
  border: none;
  border-bottom: 2px solid blue;
}


.column {
    float: left;
    width: 14%;
    padding: 0px;
    border: 1px solid black;
    height: 300px; /* Should be removed. Only for demonstration */
}

input:focus {
    background-color: white;
    border:none;
    outline:none;
    border-bottom: 2px solid lightblue;
}


img {
    width: 50%;
}
